
<html>
    <head></head>
    <body>
        <div>
            <h4>Hii Rahul ranjan!</h4>
           <br> 
            <%if(user.type == 'advertisement'){%>
            <p>You have recieved an advertisement for <strong>Rent/Sell</strong> for the properties.</p>
            <%}%>
            <%if(user.type == 'false' || user.type == 'true'){%>
                <p>Someone is interested in  your properties.The property is listed below:</p>
                <p>Address: <%=property.address%>, <%=property.city%></p>
                <p>Price: Rs <%=property.price%></p>
                <img src="cid:logo"alt="image" style="height: 300px;" >
            <%}%>
            <%if(user.type == 'machine'){%>
                <p>Someone is interested in  your Rent machineries.The Machine is listed below:</p>
                <p>Address: <%=property.address%>, <%=property.city%></p>
                <p>Type: <%=property.type%></p>
                <p>Price: Rs <%=property.price%></p>
                <img src="cid:logo"alt="" style="height: 300px;">
            <%}%>
            <p>The Contact details of the person are here:</p>
            <p>Name: <%=user.name%></p>
            <p>Email: <%=user.email%></p>
            <p>Phone: <%=user.phone%></p>
            <p>Subject: <%=user.subject%></p>
            <p>Message: <%=user.message%></p>
            <br>
            <p>Thanks</p>
        </div>
    </body>
</html>