<html>

<head></head>

<body>
    <div>
        <h4>Hii Prince Singh!</h4>
        <br>
        <p>Someone is trying to contact you in your website</p>
        </br>
        <p>The Contact details of the person are here:</p>
        <p>Name:
            <%=user.name%>
        </p>
        <p>Email:
            <%=user.email%>
        </p>
        <p>Phone:
            <%=user.phone%>
        </p>
        <p>Subject:
            <%=user.subject%>
        </p>
        <p>Message:
            <%=user.message%>
        </p>
        <br>
        <p>Thanks</p>
    </div>
</body>

</html>